# ignore everything
*

# except these files
!.gitignore
!main.py
!Pipfile
!scripts_dummy/dummy.sh
!logger
!logger/credentials-telegrambot-dummy.json
!logger/logger.py
!scripts-dummy
!scripts-dummy/dummy.sh
!example-usage.sh
